.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black !important;
}

.glossyBG {
  background: rgba(255, 255, 255, 0.25);
  background-size: initial;
  box-shadow: 0 10px 30px rgba(60, 60, 60, 0.4);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: inline-block;
}

.dice {
  padding: 4px;
  width: 52px;
  height: 52px;
  border-radius: 10%;
  margin-top: 5px;
  border-color: black;
  border-style: solid;
}

.dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2){
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(2){
  align-self: center;
}

.third-face .dot:nth-of-type(3){
  align-self: flex-end;
}

.fourth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2){
  justify-content: center;
}

.sixth-face {
  display: flex;
  justify-content: space-between;
}

.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameSquare {
  padding: 4px;
  width: 52px;
  height: 52px;
  border-radius: 10%;
  margin-top: 5px;
  border-color: black;
  border-style: solid;
}


